.cont__form{
    width: 30%;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-wrap: nowrap;
}


.cont__form___Princ{
    display: flex !important;
    height: 90vh;
    justify-content: center;
    align-self: center;
    
}

.cont__form_image{
    width: 70%;
    height: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}